@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    --yasil: #a1c927;
    --qirmizi: #fd634d;
}

header {
    position: relative;
    height: 100vh;
    background: url('../img/headerbg.jpg') center/cover fixed;
    text-align: center;
}

#title,
nav {
    position: absolute;
    width: 100%;
}

#title {
    bottom: 20vh;
}

nav {
    padding: 40px 50px;
}

menu {
    padding: 20px 0;
}

#menu li a {
    font: .8em/1.5 'Lato', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

h1 {
    font: 2em/1.5 Poppins, sans-serif;
    color: #fff;
    text-transform: uppercase;
}

h5 {
    font: .9em/2 Poppins, sans-serif;
    letter-spacing: 3px;
    color: #ffffff;
    text-transform: uppercase;
}

#fitness {
    background: url('../img/fitness.jpg') center/cover no-repeat
}

#body {
    background: url('../img/body.jpg') center/cover no-repeat
}

#lifestyle {
    background: url('../img/lifestyle.jpg') center/cover no-repeat;
}

#summer {
    background: url('../img/summer.jpg') center/cover no-repeat;
}

#grape {
    background: url('../img/grape.jpg') center/cover no-repeat;
}

#avocado {
    background: url('../img/avocado.jpg') center/cover;
}

.container {
    max-width: 1180px;
    margin: auto;
}

.yasilbg {
    background: var(--yasil)
}

.qirmizibg {
    background: var(--qirmizi)
}

.agbg {
    background: #fff;
}

.yasiltxt {
    color: var(--yasil)
}

.qirmizitxt {
    color: var(--qirmizi)
}

.agtxt {
    color: #fff;
}

.qirmiziheading {
    font: bold .9em 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.yasilheading {
    font: 2em/1.1 Lato;
    color: #a2ca28;
    text-transform: uppercase;
}

.agheading {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.vh50 {
    height: 50vh;
}

.fa-suitcase,
.fa-tachometer-alt,
.fa-cloud,
.fa-comment-dots {
    font-size: 2em;
    padding: 10px 0;
}

#artcl1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#artcl1 article p {
    font: .9em;
    padding: 10px 0;
    font-family: "Proxima Nova";
}

#artcl1 article a {
    font-family: 'Open Sans', sans-serif;
}

#artcl2 {
    text-align: center;
}

#artcl2 i {
    color: #e3e9e9;
    height: 23px;
    padding-bottom: 25px;
}

#artcl2 p {
    font-size: .9em;
    line-height: 26px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding: 0 0 15px 0;
}

#artcl2 a {
    text-decoration: underline;
}

#artcl3 {
    text-align: center;
}

#artcl3 i {
    color: #e3e9e9;
    height: 23px;
    padding-bottom: 25px;
}

#artcl3 p {
    font-size: .9em;
    line-height: 26px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0 15px 0;
}

#artcl3 h3 {
    padding: 50px 0 10px 0;
}

#artcl3 h2 {
    letter-spacing: 1px;
    padding: 0 0 15px 0;
}

h2 {
    padding: 15px;
}

h3 {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding: 0 0 10px 0;
}

h6 {
    padding-top: 50px;
}

footer {
    background-color: #0c1119;
    text-align: center;
}

footer h1 {
    padding: 100px 0 0 0;
    font-size: 2em;
    color: #7d8084;
    font-weight: 400;
}

#p1 {
    padding: 30px 0 80px 0;
    max-width: 518px;
    margin: auto;
}

footer p {
    font: 1em Poppins;
    color: #fff;
    font-weight: 300;
    padding: 30px;
}

h4 {
    font-size: 1em;
    font-weight: 300;
    color: #7d8084;
    font-family: 'Open Sans', sans-serif;
}

.ftricons a i {
    font-size: 2em;
    padding: 45px 10px;
}

#fb {
    color: #3b5998
}

#tt {
    color: #00acee
}

#yt {
    color: #ff0000
}

#in {
    color: #0e76a8
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input {
    padding: 15px;
    margin: 6px;
    border: 0;
    border-radius: 2px;
    outline: 0;
}

#submit {
    background-color: #a1c927;
    color: #fff;
    width: 180px;
}

@media only screen and (min-width:900px) {
    header {
        text-align: inherit;
    }
    #title {
        width: inherit;
        padding: 0 0 0 115px;
    }
    #menu {
        float: right
    }
    #menu li {
        display: inline-block;
        margin: 0 30px;
    }
    h1 {
        font-size: 2.5em
    }
    h5 {
        text-align: right;
        padding: 0 20px
    }
    .w25 {
        width: 25%
    }
    .w33 {
        width: 34%
    }
    .w66 {
        width: 66%
    }
    .floatleft {
        float: left
    }
    .floatright {
        float: right
    }
    .row::after {
        content: '';
        display: table;
        clear: both;
    }
    .fp1 {
        background: url('../img/footerbg.jpg') center/cover no-repeat;
        padding: 240px 0 450px 0;
    }
    .fp1 h1 {
        font-size: 2.8em;
    }
    #artcl1 {
        display: flex;
        flex-direction: row;
        justify-content: inherit;
        align-items: inherit;
        text-align: left;
    }
    #artcl1 article p {
        font: .9em;
        padding: 10px 10px 10px 0;
        font-family: "Proxima Nova";
    }
    #artcl3 {
        text-align: left;
    }
    #artcl3 div {
        padding-left: 35px;
    }
    .summer h3 {
        font-size: 2.5em;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
    }
    .form {
        flex-direction: row;
        float: right;
        margin-right: 200px;
    }
    .fp2 {
        background-color: #000;
        height: 60vh;
        text-align: left;
    }
    .col1 div {
        max-width: 445px;
    }
    .col1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #name {
        width: 200px;
    }
    #email {
        width: 340px;
    }
    #submit {
        width: 180px;
    }
    footer h4 {
        padding-top: 65px;
        color: #efeff0
    }
    .fp2 p {
        padding: 30px 30px 30px 0;
        padding-left: inherit;
        color: #6c7e8d;
    }
}